    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to right, #4facfe, #00f2fe);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: #fff;
    }

    .weather-container {
      background: rgba(255, 255, 255, 0.1);
      padding: 40px 30px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      text-align: center;
      height: 500px;
    }

    .weather-container h1 {
      font-size: 28px;
      margin-bottom: 20px;
      letter-spacing: 1px;
    }

    .search-box input[type="text"] {
      padding: 10px 15px;
      width: 80%;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      outline: none;
    }
    .search-box {
      display: flex;
    }

    .search-box input::placeholder {
      color: #999;
    }

    .weather-icon {
      width: 100px;
      margin: 20px 0;
    }

    .temperature {
      font-size: 40px;
      font-weight: bold;
    }

    .description {
      font-size: 18px;
      text-transform: capitalize;
      margin-bottom: 10px;
    }

    .details {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      font-size: 14px;
      margin-top: 20px;
      background-color: #0008;
      border-radius: 10px;
    }
      .details>div {
        background-color: #0003;
        padding:5px 50px;
        border-radius: 10px;
        border:1px solid white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

    .error {
      color: red;
    }

    button {
      padding: 13px 36px;
      border-radius: 10px;
      border: none;
      margin: 0px 10px 0px 10px;
    }

    @media (max-width: 400px) {
      .weather-container {
        width: 90%;
        padding: 30px 20px;
      }
    }
    .cityName {
      color:yellow;
      font-size: 20px;
      padding:5px;
      background-color: #0001;
    }
    .flag_name {
      font-size: 30px;
      background-color: #0003;
    }

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: conic-gradient(#000 0 0) 50%/0 100% no-repeat text;
  animation: l4 1.5s linear infinite;
}
.loader:before {
  content: "Loading";
}
@keyframes l4 {
  to{background-size: 120% 100%}
}


/* End */
    .center-loader {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top:100px
    }

    .whether_app {
      display: none;
    }
    .image {
      width:60px;
      height: 50px;
    }
    .flag_name {
      display: flex;
      align-items: center;
      justify-content: center;
      gap:10px
    }
    .flag_name>img {
      width:30px;
    }
    .main_grid {
      padding:30px 100px;
      background-color: #0003;
      border-radius: 10px;
    }
    .whether_app_inner {
      display: flex;
      justify-content: space-between;
      gap:10px;
      margin:10px
    }
    