* {
  padding : 0;
  margin:0;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content >div{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.content >div>input {
  padding:10px;
  border: 1px solid gray;
  border-radius: 10px;
  transition: 0.3s;
}
.content {
    width: 500px;
  box-shadow: 0px 0px 25px #0005;
  padding:50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap:40px
} 
button {
  padding:13px 36px;
  border:none;
  border-bottom: 4px solid gray;
  border-radius: 10px;
  color: gray;
  box-shadow: 0 10px 10px #0005;
  transition: 0.3s;
}
button:hover {
  box-shadow: 0 0px 10px #0005;
}
input:hover {
  transform: scale(1.05);
}
body {
  padding:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://marketplace.canva.com/EAGBVSCYp9c/1/0/900w/canva-beige-pastel-aesthetic-background-story-NxT2XIsYuDg.jpg');
  background-repeat:no-repeat ;
  background-size: cover;
}